@using Core.Models
@model List<Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/DoctorPage.css" />
</head>

<div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 g-4" style="padding-top:50px;">
@foreach (var doctor in Model)
{
    <div class="card card-doctor card-1" style="width: 18rem;margin-left:40px;">
        <img class="card-img-top" src="@doctor.ImageLink" alt="Card image cap" style="border-radius:16px; padding:10px;margin-top:10px;height:100%;object-fit:cover;">
        <div class="card-body">
            <h5 class="card-title">@doctor.Name @doctor.Surname @doctor.MiddleName</h5>
            <p class="card-text">@doctor.Age</p>
            <p class="card-text">@doctor.Specialization</p>
            <a type="button" id="details-btn" class="details-btn" asp-controller="Doctors"
               asp-action="Details" asp-route-id="@doctor.Id">
                    Details
            </a>
        </div>
    </div>
    }
</div>

<script src="~/js/site.js"></script>
