@using Core.Models
@model List<Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/DoctorPage.css" />
</head>
<h2>Doctors</h2>
<div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 g-4">
    @foreach (var doctor in Model)
    {
        <div class="card card-1" style="width: 18rem;margin-left:40px;height:auto">
            <img class="card-img-top" src="@doctor.ImageLink" alt="Card image cap" style="border-radius:16px; padding:10px;margin-top:10px;display:flex;align-items:baseline;width: 100%;height: 400px;object-fit: cover; ">
            <div class="card-body" id="custom-card-body" style="position:relative;">
                <h3 class="card-title">Full Name</h3>
                <h5 class="card-text">@doctor.Name @doctor.Surname @doctor.MiddleName</h5>
                <h3 class="card-title">Age</h3>
                <p class="card-text">@doctor.Age</p>
                <h3 class="card-title">Information</h3>
                <p class="card-text">@doctor.Info</p>
                <a type="button" class="details-btn" asp-controller="Doctors"
               asp-action="Details" asp-route-id="@doctor.Id">
                    Details
                </a>
            </div>
        </div>
    }
</div>

<script src="~/js/site.js"></script>
